markupsafe==2.0.1
pint~=0.18
h5py>=3.10.0
tqdm~=4.62.3
pytest~=6.2.5
jax
jaxlib
flax>=0.8.1
setuptools~=58.0.4
optax
rich
dataclasses~=0.6
dask==2024.2.0
dask-jobqueue==0.8.2
distributed==2024.2.0
chex>=0.1.85
numpy~=1.26.2
