jax==0.4.23
jaxlib==0.4.23
markupsafe==2.0.1
numpy>=1.22.2
pint~=0.18
h5py>=3.8.0
tqdm~=4.62.3
pytest~=6.2.5
flax>=0.6.1
setuptools
optax>=0.1.2
rich~=13.7.0
dataclasses~=0.6
dask>=2024.1.1
distributed>=2024.1.1
dask-jobqueue>=0.8.2