name: ESPResSo tests

on:
  pull_request:
  push:
    branches:

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
      - name: Setup EESSI
        uses: eessi/github-action-eessi@v3
        with:
          eessi_stack_version: "2023.06"
      - name: Install dependencies
        run: |
          test "${RUNNER_ARCH}" = "X64" && module use /cvmfs/dev.eessi.io/espresso/versions/2023.06/software/linux/x86_64/amd/zen2/modules/all
          module load ESPResSo/dc87ede3f6c218bb71624460752bc8c26a271c33-foss-2023b
          module save espresso
          sed -i 's/numpy>=1.26.4/numpy>=1.26.4,<2.0/' requirements.txt
          python -m venv --system-site-packages venv
          source venv/bin/activate
          python -m pip config --site set global.disable-pip-version-check true
          python -m pip config --site set global.no-cache-dir false
          python -m pip install -c dev-requirements.txt coverage toml-cli
          python -m pip install .
          toml set --toml-path=pyproject.toml tool.coverage.run.omit --to-array '["*/espressomd/*", "/cvmfs/*"]'
          deactivate
          module purge
      - name: Run test suite
        run: |
          module restore espresso
          source venv/bin/activate
          export NUM_PROC=$(nproc)
          export OMP_PROC_BIND=false OMP_NUM_THREADS=1
          COVERAGE=1 sh CI/run_espresso_test_suite.sh -j ${NUM_PROC}
          python -m coverage combine . CI/espresso_tests
          python -m coverage report
          python -m coverage xml
      - name: Upload coverage to Codecov
        if: ${{ github.repository == 'SwarmRL/SwarmRL' }}
        uses: codecov/codecov-action@v5
        with:
          files: "./coverage.xml"
          disable_search: true
          env_vars: OS,PYTHON
          fail_ci_if_error: false
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
