# This workflow will install espresso and python dependencies before running the
# espresso tests.

name: ESPResSo tests

on:
  pull_request:
  push:
    branches:

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - "3.11"

    steps:
      - uses: actions/checkout@v4
      - uses: mpi4py/setup-mpi@v1
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r dev-requirements.txt
      - name: Install package
        run: |
          python -m pip install ".[rnd]"
      - name: Install ESPResSo
        run: |
          python -m pip install cython==0.29.36
          sudo apt-get install libboost-all-dev
          git clone -b python --recursive https://github.com/espressomd/espresso.git
          cd espresso
          mkdir build && cd build
          cp ../maintainer/configs/maxset.hpp myconfig.hpp
          cmake ../ -D ESPRESSO_BUILD_WITH_WALBERLA=on -D ESPRESSO_BUILD_WITH_FFTW=OFF
          cmake --build . -j $(nproc)
      - name: Run test suite
        run: |
          espresso/build/pypresso CI/run_espresso_test_suite.py
