# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: pytest

on:
  pull_request:
  push:
  schedule:
    - cron: '14 3 * * 1'  # at 03:14 on Monday.

jobs:
  build:

    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'schedule' && github.repository == 'SwarmRL/SwarmRL' || github.event_name != 'schedule' }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r dev-requirements.txt
      - name: Install package
        run: |
          pip install ".[rnd]"
      - name: Pytest
        run: |
          pytest --ignore CI/espresso_tests
